<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${usuario.codigo != null ? 'Editar Usuário' : 'Novo Usuário'}">Formulário de Usuário</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"> 
</head>
<body>
    <div class="container">
        <h1 th:text="${usuario.codigo != null ? 'Editar Usuário' : 'Novo Usuário'}">Formulário de Usuário</h1>

        <form th:action="@{${usuario.codigo != null ? '/usuario/editar/' + usuario.codigo : '/usuario/novo'}}" th:object="${usuario}" method="post">            
            <div>
                <label for="codigo">Código:</label>
                <input type="text" th:field="*{codigo}" id="codigo" placeholder="Digite o Código" required
                 th:readonly="${usuario.codigo != null}" />
            </div>
 
            <div>
                <label for="nome">Nome:</label>
                <input type="text" th:field="*{nome}" id="nome" placeholder="Digite o nome" required />
            </div>
            
            <div>
                <label for="data_nasc">Data de nascimento:</label>
                <input type="checkbox" th:field="*{data_nasc}" id="data_nasc" />
            </div>
            
            <div>
                <label for="endereco">Endereço:</label>
                <input type="checkbox" th:field="*{endereco}" id="endereco" />
            </div>
            
            <div>
                <label for="email">Email:</label>
                <input type="checkbox" th:field="*{email}" id="email" />
            </div>

            <div>
                <label for="senha">Senha:</label>
                <input type="password" th:field="*{senha}" id="senha" placeholder="Digite a senha" required />
            </div>

            <button type="submit" th:text="${usuario.codigo != null ? 'Atualizar' : 'Salvar'}">Salvar</button>
        </form>

        <a th:href="@{/usuario}" class="btn">Voltar à Lista de Usuários</a>
    </div>
</body>
</html>