* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
    
}

td, th {
    border: 2px solid black;
    padding: 15px;
}

th {
    align-items: center;
}